html{
	cursor: url(images/cursors/default-32px.png), auto;
}
audio{
	cursor: url(images/cursors/default-32px.png), auto;
}
td {
	padding-right:10px;
	cursor:url(images/cursors/text-32px.png), auto;
}
button {
	cursor:url(images/cursors/pointer-32px.png), auto;
}
body {
	background: #c1d2ce;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-image: url(images/whapham_background.jpg); 
	color: #3ff6ff;
	text-shadow:
    -1px -1px 0 #161616,
    1px -1px 0 #161616,
    -1px 1px 0 #161616,
    1px 1px 0 #161616;
}
h1{
	padding-top: 30px;
	float:top;
	cursor: url(images/cursors/text-32px.png), auto;
}

.rainbow {
	/* Chrome, Safari, Opera */
	-webkit-animation: rainbow 1s infinite; 
	
	/* Internet Explorer */
	-ms-animation: rainbow 1s infinite;
	
	/* Standard Syntax */
	animation: rainbow 1s infinite; 
	
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4;
	-ms-transition-animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

/* Standard Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

#whapham {
	position: fixed;
	top: 0%;
	left: 0%;
}
.whapham {
	animation: rotate 1s linear infinite, move 3s linear infinite;
}
@keyframes rotate
{
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
@keyframes move {
	0% {
		top: 0vh;
		left: 0vw;
	}
	
	100% {
		top: 100vh;
		left: 100vw;
	}
}